# Your Hasura GraphQL endpoint
HASURA_GRAPHQL_ENDPOINT=

# Your Hasura admin secret
HASURA_GRAPHQL_ADMIN_SECRET=

# Your Hasura JWT secret key
HASURA_GRAPHQL_JWT_SECRET_KEY=

# Check passwords against HIBP (optional)
# HIBP_ENABLED=false

# A string or array used for signing cookies (optional)
# COOKIE_SECRET=

# Recommended defaults:

# SERVER_PORT=3000
# DEFAULT_ROLE=user
# AUTO_ACTIVATE=false

# JWT_EXPIRES_IN=15
# JWT_ALGORITHM=HS256
# REFRESH_EXPIRES_IN=43200

# MAX_REQUESTS=100
# TIME_FRAME=15 * 60 * 1000