<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      body {
        margin: 0;
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <h2>Hello.</h2>
    <p>The email attached to your account has been changed.</p>
    <p>If you did not ask for this, please contact our services.</p>
    <hr />
    <p>Thanks,<br />The Team</p>
  </body>
</html>
