doctype html
html
  head
    meta(charset='utf-8')
    style.
      body {
      margin: 0;
      font-family: sans-serif;
      }
  body
    h2 Hello.
    p Someone requested to reset the password for your account.
    p If this was not you, please disregard this message.
    hr
    p Proceed the password reset by using the following code:
    p #{ticket}
    p
      | Thanks,
      br
      | The Team
